div(class='card')
  form((ngSubmit)="onSubmit()" #loginForm="ngForm")
    p Login
    label Username
    input(name="username" type="text" placeholder="enter username" required [(ngModel)]="loginModel.username" #username="ngModel")
    div(class="alert alert-danger", [hidden]="username.valid || username.pristine") Username Required
    label Password
    input(name="password" type="password" placeholder="enter password" required [(ngModel)]="loginModel.password" #password="ngModel")
    div(class="alert alert-danger", [hidden]="password.valid || password.pristine") Password Required
    button Login
