.col-sm-2
    ul(class='list-group box-shadow' style='border: 1px, solid, black')
        li(class='list-group-item')
            a((click)='this.getLatest()') get latest
        li(class='list-group-item')
            a((click)='this.getList()') filter
.col-sm-8
    div(*ngIf="this.setMessage.response.failure" class="panel panel-warning")
        div(class="panel-heading") status: {{ this.setMessage.response.failure.status }}
        div(class="panel-body") message: {{ this.setMessage.response.failure.message }}
    div(*ngIf="this.setMessage.response.success" class="panel panel-success")
        div(class="panel-heading") status: {{ this.setMessage.response.success.status }}
        div(class="panel-body") message: {{ this.setMessage.response.success.message }}


    router-outlet


.col-sm-2
    div(class="panel panel-default box-shadow")
        div(class="panel-heading")
            h3(class="panel-title") image info
        div(*ngFor="let property of this.formManager.getProperties() as form;", class="panel-body")
            p {{property}}
            hr
