.col-sm-2
    app-sidebar

.col-sm-8
    app-messagebar

    router-outlet

.col-sm-2
    div(class="panel panel-default box-shadow")
        div(class="panel-heading")
            h3(class="panel-title") image info
        div(*ngFor="let property of this.formManager.getProperties() as form;", class="panel-body")
            p {{property}}
            hr
