div(*ngIf="this.setMessage.response.failure" class="panel panel-warning")
    div(class="panel-heading") status: {{ this.setMessage.response.failure.status }}
    div(class="panel-body") message: {{ this.setMessage.response.failure.message }}
div(*ngIf="this.setMessage.response.success" class="panel panel-success")
    div(class="panel-heading") status: {{ this.setMessage.response.success.status }}
    div(class="panel-body") message: {{ this.setMessage.response.success.message }}