div(*ngIf="this.setMessage.getResponseType()", [@message]="state", class="panel panel-{{this.setMessage.getResponseType()}} message-panel")
    div(class="panel-heading") status: {{ this.setMessage.response.status }}
    div(class="panel-body") message: {{ this.setMessage.response.message }}