app-images {
  background-color: whitesmoke;
  text-align: right;
}

.year {
  list-style-type: none;
  padding: 0;
  float: left;
  position: absolute;
}

.year li {
  border-top: 1px solid;
  border-left: 1px solid;
  border-radius: 3px 0 0 3px;
}

.year li:first-child {
  border-top: none;
  border-radius: 0;
}

.year li:last-child {
  border-bottom: 1px solid;
}

.year a {
  color: black;
  text-decoration: none;
  padding: 0px 15px;
  cursor: pointer;
}
.year a:hover {
  background-color:black;
  border-radius: 3px;
  color:white;
  font-style: italic;
}

.reel-container {
  border-top: 1px solid;
  background-image: linear-gradient(to right, white ,#777777, white);
  text-align: center;
  opacity: .95;
  border-radius: 3px 0 0 0;
}

.image-container {
  padding-top: 10px;
  display: inline-block;
}

.reel {
  display: inline;
  border-top: 1px solid black;
  overflow: hidden;
}

.month {
  display: inline-block;
  margin-left: 3px;
}

.month a {
  cursor: pointer;
  color: white;
  text-decoration: none;
  background-color: black;
  width: auto;
  border: 1px solid black;
  border-bottom: 1px solid #777777;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding:0px 5px;
}

.month a:hover {
  background-color: white;
  color: black;
  font-style: italic;
  border-bottom: 0px;
}

//.month.active hover {
//  border-bottom: 1px solid black;
//}

.month.active a:hover {
  font-style: normal;
  cursor: text;
  border-bottom: 1px solid black;
}

.thumbnail {
  display: inline-flex;
  margin: 2px;
}

.thumbnail,
.thumbnail > img {
  height: 200px;
}

/* TO DO */
.month.active a {
  color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  z-index: 1;
  position: relative;
  border-radius: 4px;
}

/*  TO DO */
.year li.active {
  padding: 5px 0px;
}

/* TO DO */
.year li.active a {
  border: 2px solid white;
  border-radius: 5px;
  background-color: black;
  color: white;
}

.year li.active a {
  font-style: normal;
  cursor: text;
}