div(class="row")
    div(*ngIf='this.imageService.images.length == 1', class="col-sm-6 col-md-4")
    app-images-thumbnail
    div(*ngIf='this.imageService.images.length == 1', class="col-sm-6 col-md-4")