app-images {
  background-color: whitesmoke;
  text-align: right;
}

.image-menu .btn {
  position: relative;
  bottom: 5px;
  float: left;
  margin-right: 2px;
}

#image-editor {
  border: darkgray;
  position: fixed;
  top: 250px;
  left: 150px;
  width: 500px;
}

#image-editor label {
  color: white;
  text-transform: capitalize;
  font-weight: normal;
}

#image-editor .row {
  border-radius: 10px;
  border: 1px solid darkgray;
}

#image-editor .input-group-addon {
  width:auto;
}

#image-editor .form-control {
  border: 1px solid darkgray;
  display: table-cell;
}

#image-editor .buttons {
  margin: 0 0 15px;
  padding: 0 15px;
}

#image-editor .background {
  position: absolute;
  top: 0;
  width: 530px;
  height: 100%;
  padding: 0 15px;
  background: steelblue;
  opacity: 0.5;
  z-index: -1;
}

.editor-modal ul {
  list-style: none;
  text-align: left;
}

.editor-modal .modal-header {
  text-align: center;
  text-transform: capitalize;
}

.editor-modal .input-group-addon {
  width: 25px;
}

.year {
  list-style-type: none;
  padding: 0;
  float: left;
  position: absolute;
}

.year li {
  border-top: 1px solid;
  border-left: 1px solid;
  border-radius: 3px 0 0 3px;
}

.year li:first-child {
  border-top: none;
  border-radius: 0;
}

.year li:last-child {
  border-bottom: 1px solid;
}

.year a {
  color: black;
  text-decoration: none;
  padding: 0px 15px;
  cursor: pointer;
}
.year a:hover {
  background-color:black;
  border-radius: 3px;
  color:white;
  font-style: italic;
}

.reel-container {
  border-top: 1px solid;
  background-image: linear-gradient(to right, white ,lightgray, lightgray, white);
  text-align: center;
  opacity: .95;
  border-radius: 3px 0 0 0;
}

.image-container {
  width: 40%;
  display: inline-block;
  text-align: left;
}

.reel {
  display: inline;
  border-top: 1px solid black;
  overflow: hidden;
}

.month {
  display: inline-block;
  margin-left: 3px;
}

.month a {
  cursor: pointer;
  color: white;
  text-decoration: none;
  background-color: black;
  width: auto;
  border: 1px solid black;
  border-bottom: 1px solid #777777;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding:0px 5px;
}


.month a:hover {
  background-color: white;
  color: black;
  font-style: italic;
  border-bottom: 0px;
}

.month.active a:hover {
  font-style: normal;
  border-bottom: 1px solid black;
}

.thumbnail {
  border: none;
  margin: 10px;
}

.thumbnail > img {
  filter: grayscale(100%);
}

.thumbnail p {
  margin: 0;
  padding: 0px 5px;
}

.thumbnail > img:hover {
  cursor: pointer;
  border: none;
  text-decoration: none;
  filter:none;
}

.thumbnail .caption {
  max-height: 30px;
  font-size: x-small;
  padding: 5px 0 0 0 !important;
  top: -6px;
  position: relative;
  background-color: white;
  color: black;
  border-radius: 0 0 4px 4px
}

.thumbnail .caption table {
  table-layout: fixed;
  width: 100%;
}

.thumbnail .caption table td:first-child {
  text-align: left;
}

.thumbnail .caption table td:nth-child(2) {
  text-align: center;
  cursor: help;
}

.thumbnail .caption table td:last-child {
  text-align: right;
}

.month.active a {
  color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  z-index: 1;
  position: relative;
  border-radius: 4px;
}

.year li.active {
  padding: 5px 0px;
}

.year li.active a {
  border: 2px solid white;
  border-radius: 5px;
  background-color: black;
  color: white;
}

.year li.active a {
  font-style: normal;
  cursor: text;
}

.paginator {
  padding: 0px;
  display: inline-flex;
  list-style: none;
  position: absolute;
  top: 49%;
  left: -30px;
}

.paginator .forward {
  position: absolute;
  left: 820px;
}

.paginator .glyphicon {
  border: 1px solid;
  padding: 3px;
  border-radius: 4px;
  color: #000;
  font-size: xx-large;
  opacity: .5;
}

.paginator .glyphicon:hover {
  cursor: pointer;
  opacity: 1;
}

.assetviewer-modal {
  margin:auto;
}

.modal {
  top: 10px;
}

.modal-image-container {
  position: relative;
  text-align: center;
}

.modal-image-overlay-positioner {
  position: relative;
}

.modal-image {
  border: 5px solid lightgray;
  // max-height: 900px;
}

@media screen and (min-height: 600px) {
  .modal-image {
    max-height: 580px;
  }
}

@media screen and (min-height: 768px) {
  .modal-image {
    max-height: 748px;
  }
}

@media screen and (min-height: 900px) {
  .modal-image {
    max-height: 880px;
  }
}

@media screen and (min-height: 1080px) {
  .modal-image {
    max-height: 1060px;
  }
}

@media print {
  .modal-image {
    border: none;
  }
  li {
    display: none;
  }
}

.modal-image-overlay {
  display: block;
  list-style: none;
  color: white;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 0px;
  margin: 0px;
}


.modal-image-overlay-menu {
  padding-left: 5px;
  margin: 0px;
  vertical-align: middle;
  list-style: none;
  position: absolute;
  left: 0px;
  top: 100px;
}

.modal-image-overlay-menu li {
  vertical-align: middle;
  padding-right: 5px;
  margin-bottom: 5px;
}

.modal-image-overlay li,
.modal-image-overlay-menu li {
  text-transform: uppercase;
  color: white;
  background-color: gray;
  text-align: center;
  opacity: .3;
}

.modal-image-overlay li {
  position: absolute;
  width: 100px;
}

.modal-image-overlay li.button-left {
  left: 5px;
}

.modal-image-overlay li.button-right {
  right: 5px;
}

.modal-image-overlay li.button-left,
.modal-image-overlay-menu li.button-left {
  border-left: none;
  border-radius: 0 4px 4px 0;
}

.modal-image-overlay li.button-right {
  border-right: none;
  border-radius: 4px 0 0 4px;
}

.modal-image-overlay li.button-left:hover,
.modal-image-overlay li.button-right:hover,
.modal-image-overlay-menu li.button-left:hover,
{
  cursor: pointer;
  background-color: lightgray;
  opacity: 1;
  color: black;
}

.button-left .glyphicon {
  vertical-align: middle;
  float: left;
  padding-left: 5px;
}

.button-right .glyphicon {
  float: right;
  padding-right: 5px;
}

.infobox {
  position: absolute;
  z-index: 1;
  width: 230px;
  text-align: left;
  background: white;
  color: black;
  opacity: .8;
  border-radius: 5px;
  padding: 5px 0px;
  margin: 40px;
}

.infobox p {
  font-size: x-small;
  margin: 0px;
}

.infobox .info-key {
  text-transform: uppercase;
}
