span(*ngIf="!this.imageService.message.failure")
    div
        div(*ngFor='let month of this.months as months; index as i' class='month {{i | monthTransform}}', [ngClass]="{'active': i == this.activePeriod.month}")
            a(*ngIf="month != null", (click)='selectPeriod(i)') {{i | monthTransform}}
        div( class='reel-container {{ year }}')
            ul(class='year')
                li(*ngFor='let year of this.years as years; index as m', [ngClass]="{'active': year == this.activePeriod.year}")
                    a((click)='selectPeriod(year)') {{ year }}
            div(*ngFor='let image of this.currentView as images; index as j' class='image-container')
                a(*ngIf='j < 6' class='thumbnail {{image.year}}', data-toggle='modal' data-target='.assetviewer-modal')
                  img(src='https://d2gne97vdumgn3.cloudfront.net/api/file/Rx1s76VjTAO1Qc4GY7jY')

app-assetviewer