div
    nav(class="navbar navbar-default")
        div(class="container-fluid")
            // BRANDING
            div(class="navbar-header")
                button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
                    span(class="sr-only") Toggle navigation
                    span(class="icon-bar")
                    span(class="icon-bar")
                    span(class="icon-bar")
                a(class="navbar-brand" href="#") Brand &#8200;
            div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
                ul(*ngFor="let link of navbarLinks, let i = index" class="nav navbar-nav")
                    li(*ngIf="this.activeUser.isLoggedIn", class="")
                        a(*ngIf="this.activeUser.isPermitted[link.permission]", routerLink="{{link.name}}" routerLinkActive="active") {{link.name}}
                            span(class="sr-only" current)
                    li(*ngIf="!this.activeUser.isLoggedIn" class="")
                        a(*ngIf="!link.permission", routerLink="{{link.name}}" routerLinkActive="active") {{link.name}}
                ul(class="nav navbar-nav navbar-right")
                    li
                        p(*ngIf='!this.activeUser.isLoggedIn', type='button' data-target="#loginModal", class="btn btn-info" data-toggle="modal") Login
                        p(*ngIf='this.activeUser.isLoggedIn', class="btn btn-warning",  (click)='logout()') Logout
