div

    // BOOTSTRAP 3 NAVBAR
    nav(class="navbar navbar-default")
        div(class="container-fluid")
            // BRANDING
            div(class="navbar-header")
                button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
                    span(class="sr-only") Toggle navigation
                    span(class="icon-bar")
                    span(class="icon-bar")
                    span(class="icon-bar")
                a(class="navbar-brand" href="#") Brand &#8200;
                    //i(class="fa fa-linkedin") &#8200;
                    //i(class="fa fa-twitter") &#8200;


            div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
                ul(class="nav navbar-nav")
                    li(class="")
                        a(href="#") Link
                            span(class="sr-only" current)
                    li
                        a(href="#") Link
                    li
                        a(href="#") Link
                    li
                        a(href="#") Link

                ul(class="nav navbar-nav navbar-right")
                    li
                        a(routerLink="/login" routerLinkActive='active') Login
    main
        router-outlet

        //template-test(#myChild)

        //button('(click)'="myChild.runMe('yes')") run child function