ul(class="list-group box-shadow" style="border: 1px, solid, black")
    li(class="list-group-item")
        p Occasion
    li(class="list-group-item")
        p Names
    li(class="list-group-item")
        p Location
