div(*ngFor="let account of this.accountService.accounts as accounts; index as i")
    div(class="col-sm-6 col-md-4")
        form(#editUserForm="ngForm", id="{{account.account_id}}" class="box-shadow panel panel-info")
            div(class="panel-heading")
                h3(class="panel-title") {{account.account_name}}
            div(class="panel-body")
                div(class="input-group input-group-sm")
                    span(class="input-group-addon") Id
                    input(class="form-control" type="text", placeholder="{{account.account_id}}", disabled)
                div(*ngFor="let permission of account.account_permissions; index as j", class="input-group input-group-sm")
                    span(class="input-group-addon") Revoke
                    input(class="form-control" type="text", placeholder="{{permission}}", disabled)
                div(*ngIf="account.account_name != 'administrator'", class="input-group input-group-sm")
                    div(class="input-group-btn" style="" disabled)
                        button(type="button" class="btn btn-info dropdown-toggle", data-toggle="dropdown" aria-haspopup="true", aria-expanded="false", ) Add
                            span(class="caret")
                        ul(class="dropdown-menu")
                            li(*ngFor="let permission of this.permissionService.permissions as permissions; index as j", id="{{permission.permission_id}}")
                                a(*ngIf="validateList(permission.permission_id, i)") {{permission.permission_name}}
                    input( class="form-control" type="text" placeholder="add permission")

            div(class="panel-footer", [attr.disabled]="account.account_name == 'administrator'") edit
            div(class="panel-footer") delete
