span { 
  position: absolute;
}

span i {
  position: absolute;
  display: block;
  top: -4px;
  z-index: 1000;
  color: #777;
  padding: 3px 5px;
  border-radius: 3px;
  left: 1px;
}

i:hover {
  background: #46b8da;
  color: white !important;
}

