//app-permissions-panel
span(*ngIf="!this.permissionService.message.failure")
    div(*ngFor="let permission of this.permissionService.permissions as permissions; index as i")
        div(class="col-sm-6 col-md-4" id="{{permission.permission_id}}")
            form(#editUserForm="ngForm", class="box-shadow panel panel-info")
                div(class="panel-heading")
                    h3(class="panel-title") {{permission.permission_name}}
                div(class="panel-body")
                    div(class="input-group input-group-sm")
                        span(class="input-group-addon") Id
                        input(class="form-control" type="text", placeholder="{{permission.permission_id}}", disabled)
                div((click)="this.delete(this.permission.permission_id)" class="panel-footer done-edit") delete