ul(class='list-group box-shadow' style='border: 1px, solid, black')
        li(*ngIf="this.formManager.getSe =='images'" class='list-group-item')
            a((click)='getLatest()') get latest
        li(class='list-group-item')
            a((click)='getList()') filter
        //li(*ngIf="this.activeUser.isAdmin" class='list-group-item')
            //a((click)='addItem()') add
