#drag-area {
  text-align: center;
}

#drag-area:hover {
  cursor: move;
}

#image-editor {
  border: steelblue;
  position: fixed;
  top: 85px;
  left: 35px;
  width: 500px;
  z-index: 1000;
}

#image-editor label {
  color: white;
  text-transform: capitalize;
  font-weight: normal;
}

#image-editor .row {
  border-radius: 10px;
  border: 1px solid darkgray;
}

#image-editor .input-group-addon {
  background-color: steelblue;
  border-radius: 4px 0 0 4px;
  border: 1px solid steelblue;
  border-right: none;
  width:auto;
}

#image-editor .form-control {
  border: 1px solid steelblue;
  border-radius: 4px;
  display: table-cell;
}

#image-editor .image-list .form-control{
  border-radius: 0 4px 4px 0;
  border-left: none;
}

#image-editor .select_all {
  text-align: left;
  margin: 10px;
}

#image-editor .buttons {
  margin: 0 0 15px;
  padding: 0 15px;
}

#image-editor .btn {
  margin: 10px 0 10px 10px;
  color: #ffffff;
}

#image-editor .btn-danger {
  float: left;
  margin: 10px 0 10px;
}

#image-editor .background {
  position: absolute;
  top: 0;
  width: 530px;
  height: 100%;
  padding: 0 15px;
  background: steelblue;
  opacity: 0.5;
  z-index: -1;
}