p {
  display: flex;
  justify-content: space-around;
}

.panel-footer {
  display: inline-block;
  width: 50%;
  text-align: center;
}

.panel-footer:first-of-type {
  border-right: 1px solid #ddd;
  border-bottom-right-radius: 0px;
}

.panel-footer:last-of-type {
  border-left: 1px solid #ddd;
  border-bottom-left-radius: 0px;
}

.panel-footer:hover {
  background-color: #d9edf7;
  color: #31708f;
  cursor: pointer;
}

.input-group {
  width: 100%;
}

.input-group-addon,
.input-group-btn {
  width: 35%;
}

.input-group-btn button {
  width: 100%;
}

span.input-group-addon {
  color: #ffffff;
  background-color: #5bc0de;
  border-color: #46b8da;
}

span.input-group-addon[disabled=true] {
  color: #ffffff;
  background-color: #97D6E9;
  border-color: #8BD1E6;
}

#done_edit {
  width: 100%;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}