div(*ngFor="let user of this.users.users as users; index as i")
    div(class="col-sm-6 col-md-4")
        div(id="{{user.user_id}}" class="box-shadow panel panel-info")
            div(class="panel-heading")
                h3(class="panel-title") {{user.user_name}}
            div(class="panel-body")
                div(class="input-group input-group-sm")
                    span(class="input-group-addon") Type
                    input([attr.disabled]="this.doEdit[user.user_name] == true ? null : true", class="form-control" type="text" placeholder="{{user.account_type}}")
                div(class="input-group input-group-sm")
                    span(class='input-group-addon') Language
                    input([attr.disabled]="this.doEdit[user.user_name] == true ? null : true", class="form-control" type="text" placeholder="{{user.language}}")
                div(*ngIf="this.doEdit[user.user_name]", class="input-group input-group-sm")
                    span(class="input-group-addon") Password
                    input(class="form-control" type="password", placeholder="password")
            div((click)="edit(this.user)", class="panel-footer") edit
            div((click)="delete(this.user)", class="panel-footer") delete