.assetviewer-modal {
  margin:auto;
  max-width: 775px;
}

.assetviewer-modal img {
  width: 100%;
  border: 5px solid lightgray;
}

.assetviewer-modal ul {
  left: 0px;
  width: 75px;
  top: 60px;
  position: absolute;
  padding: 0;
  display: inline-flex;
  list-style: none;
}

.assetviewer-modal li {
  color: white;
  background-color: #777777;
  text-align: center;
  border: 1px solid black;
  opacity: .5;
}

.assetviewer-modal li.previous {
  border-left: none;
  width: 100%;
}

.assetviewer-modal li.next {
  border-right: none;
  position: absolute;
  left: 699px;
  width: 75px;
}

.assetviewer-modal li.next:hover,
.assetviewer-modal li.previous:hover {
  opacity: .9;
}