div(class="modal fade assetviewer-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel")
    div(class="modal-dialog modal-lg" role="document")
    div(class="modal-content")
        ul
            li(class='previous') prev
            li(class='next') next
        img(src='https://d2gne97vdumgn3.cloudfront.net/api/file/Rx1s76VjTAO1Qc4GY7jY')